html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'SvenskForm-Regular', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

button {
  font-family: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  overflow: hidden;
}

.calendar {
  width: min-content;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.calendar-body {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.calendar__day {
  border: 1px solid lightgray;
  vertical-align: top;
  font-size: 0.8rem;
  padding: 10px;
  background-color: #fff;
  transition: background-color 0.3s;
}

.calendar__day--empty {
  border: none;
  background-color: transparent;
}

.calendar__day--picked {
  position: relative;
  background-color: rgba(255, 0, 0, 0.3);
  text-align: left;
  padding: 5px;
  border-radius: 10px;
}

.calendar__day--picked .calendar__day-checkmark {
  display: block; /* Show checkmark when day is picked */
  color: green;
  font-size: 1.2em;
  background-color: transparent;
}

.calendar__day--available {
  position: relative;
  background-color: white;
  /* Other styles... */
}

.calendar__day-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__day-date {
  /* Styles for the date text */
}

/* .calendar__day-checkmark {
  color: rgb(193, 210, 8); 
  font-size: 1.2em;
} */

.calendar__day--picked::after {
  content: '✓';
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 1.2em;
  color: green;
}

.calendar__day--picked--spans {
  text-align: center;
  position: relative;
  left: 75%;
  border-radius: 10px;
  background-color: rgba(0, 0, 255, 0.5);
  width: 50%;
}

.calendar__day:hover {
  background-color: rgba(0, 0, 0, 0.723);
}

.calendar__head {
  width: 3rem;
  height: 3rem;
  text-align: center;
  background-color: #e6e6e6;
  font-weight: bold;
}

.calendar__head:nth-child(n + 7) {
  color: rgb(198, 123, 123);
}

.calendar__controls_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}


.calendar__r {
  width: 100%;
}

.button__navigate {
  background-color: #5e95c2;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  flex: 1;
}

.button__reset {
  background-color: #e87e0e;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
}

.button__export {
  background-color: #1984db;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
}

@font-face {
  font-family: "SvenskForm-Regular";
  src: local("SvenskForm-Regular"),
    url(./SvenskForm-Regular.otf) format("opentype");
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.availability-form {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding: 10px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fields {
  border: none;
  display: flex;
  flex-direction: column;
}
.fields > * {
  width: 100%;
}

.radio__button:hover {
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
